/* Basic resets */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

.loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #2c2c2c;
  z-index: 9999;
}

.loader img {
  width: 80px; /* adjust size */
  animation: pulse 1.2s infinite ease-in-out;
}

@keyframes pulse {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(1.2);
    opacity: 0.6;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

/* Container styling */
.container {
  display: none; /* Hidden until loader disappears */
  height: 100vh;
  background: #2c2c2c; /* same grey */
}

.search-box {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  padding-top: 10%;
}

/* Name/title */
.search-box p {
  font-size: 100px;
  font-weight: 500;
  color: white;
}

/* Input */
input[type="text"] {
  width: 650px;
  padding: 15px 20px;
  font-size: 16px;
  border: 1px solid #555;
  border-radius: 24px;
  outline: none;
  background: #3c3c3c;
  color: white;
  transition: box-shadow 0.3s, border-color 0.3s;
}

input[type="text"]::placeholder {
  color: #bbb;
}

input:hover {
  background: #626262;
}

input[type="text"]:focus {
  box-shadow: 0 0 5px #fff;
  border-color: #fff;
}

/* Button */
button {
  width: 100%; /* fills parent container width */
  max-width: 150px; /* optional limit */
  padding: 10px 20px;
  font-size: 16px;
  background-color: #555;
  border: 1px solid #777;
  border-radius: 8px;
  cursor: pointer;
  color: white;
  transition: background 0.3s, box-shadow 0.3s;
}

button:hover {
  background-color: #666;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  color: white;
  font-size: 14px;
  background-color: rgb(30, 30, 30);
  padding: 15px 30px;
  font-weight: 300;
}

/* Responsive adjustments */
@media (max-width: 1024px) {
  .search-box {
    padding-top: 25%;
  }

  .search-box p {
    font-size: 70px;
  }

  input[type="text"] {
    width: 80%;
  }
}

@media (max-width: 768px) {
  .search-box {
    padding-top: 35%;
  }

  .search-box p {
    font-size: 50px;
  }

  input[type="text"] {
    width: 85%;
  }

  button {
    width: 85%;
  }
}

@media (max-width: 480px) {
  .search-box {
    padding-top: 45%;
  }
  .search-box p {
    font-size: 35px;
  }

  input[type="text"] {
    width: 90%;
    padding: 12px 16px;
  }

  button {
    width: 90%;
    padding: 10px 14px;
  }
}
